$green:#0A7F2E;
$black:#201F1E;
//$c1:#F5F5F5;
//$c2:#666666;
//$c3:#353535;
$c4:#F6F6F6;
$c5:#EAEAEA;
$c6:#ABABAB;
$c7:#8B8B8B;
$c8:#F8F8F8;
$c9:#828282;
$c10:#3E3E3E;
$c11:#E0DDDD;
$c12:#808080;
$c13:#8A8A8A;

$mc1:#F5F5F5;
$mc2:#666666;
$mc3:#353535;
$mc4:#0A7F2E;
$mc5:#F6F6F6;
$mc6:#201F1E;
$mc7:#EAEAEA;
$c1:#201F1E;
$c2:#666666;
$c3:#0A7F2E;
$fc1:#201F1E;
$fc2:#ABABAB;
$fc3:#8B8B8B;
$fc4:#666666;
//header colors
$hc1:#666666;
$hc2:#201F1E;
//

//aside
$ac1:#F8F8F8;
$ac2:#0A7F2E;
$ac3:#201F1E;
$ac4:#666666;
$ac5:#828282;
$ac6:#3E3E3E;
$ac7:#E0DDDD;
